<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div id="root">
        <h1>All tasks</h1>
        <ul>
            <li v-for="task in tasks">
                {{task.description}}
                <button @click="complete">Complete</button>
            </li>
        </ul>

        <h1>Incomplete tasks</h1>
        <ul>
            <li v-for="task in incompleteTasks">
                {{ task.description }}
            </li>
        </ul>

        <h1>Complete tasks</h1>
        <ul>
            <li v-for="task in completeTasks" v-text="task.description"></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>

        var app = new Vue({

            el : '#root',
            
            data: {
                tasks: [
                    { description: 'Finsh Vue Casts', completed: false},
                    { description: 'Clear Pimples', completed: false },
                    { description: 'Build Agency Website', completed: false },
                    { description: 'Build eMaginations Website', completed: true },
                    { description: 'Complete afromums Website', completed: false },
                ]
            },

            computed: {
                reversedMessage(){
                    return this.message.split('').reverse().join('');
                },

                incompleteTasks(){
                    return this.tasks.filter(task => ! task.completed);
                },

                completeTasks(){
                    return this.tasks.filter(task => task.completed)
                }
            },

            methods: {
                complete(task){
                    this.tasks[task] = true;
                }
            },

        })
    </script>

</body>
</html>